.flag-app {
  text-align: center;
}

.title-header { 
  display: flex;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
}

.title-text {
  font-size: 20rem;
  color: black;
  text-shadow: 3px 3px 3px black;
}

.flag-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.flag-answer button {
  margin-right: 2.5rem;
}

.flag-form {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.8rem;
}

.flag-img {
  max-height: 65vh;
  max-width: 90%;
  border: 1px solid black;
  margin: 1.5rem;
}

@media (max-width: 450px) {
  .title-header {
    height: 12vh;
  }
  .title-text {
    font-size: 3.6rem;
  }
}

